<!--begin header-->
<header class="header">
    <div class="container">
        <div class="header__login">
            <a href="#/">Přihlásit se...</a>
        </div>
        <div class="header__title">
            <h1 class="title">Název webu</h1>
        </div>
    </div>
    <nav class="header__nav">
        <div class="container">
            <ul>
                <li>
                    <a href="#/">Položka 1</a>
                </li>
                <li>
                    <a href="#/">Položka 2</a>
                </li>
                <li>
                    <a href="#/">Položka 3</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!--end header-->